<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<a th:text="${userbyid.getId()}">id</a>
<a th:text="${userbyid.getName()}">name</a>
<a th:text="${userbyid.getEmail()}">email</a>
<br/>
<br/>
<form th:action="@{/users/{id}/updateuser(id=${userbyid.getId()})}">
    <input type="submit" value="Edit User">
</form>
<form th:method="DELETE" th:action="@{/users/{id}(id=${userbyid.getId()})}">
    <input type="submit" value="Delete User">
</form>

</body>
</html>